body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.navbar {
  display: flex;
  justify-content: right;
  font-size: 20px;
}

.nav-button {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
  border: none !important;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease; /* Include border-radius in the transition */
  border-radius: 50%; /* Apply consistent border-radius */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  color: #555;
  background-color: #e9e9e9;
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition for the opacity */
}

.about-pop-up {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.about-pop-up button { /* close button */
  color: #000000;
  font-weight: 500;
  background-color: #ffffff;
  padding: 2px 5px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.about-pop-up.display-pop-up {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
  z-index: 20;
}

.about-pop-up h1 {
  font-size: x-large;
  font-weight: 500;
}

.settings-pop-up {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.settings-close-button {
  color: #000000;
  font-weight: 500;
  background-color: #ffffff;
  padding: 2px 5px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.settings-pop-up.display-pop-up {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
  z-index: 20;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.settings-tabs {
  display: flex;
}

.settings-tab-button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  transition: background-color 0.4s ease;
}

.settings-tab-button.active, .settings-tab-button:hover {
  background-color: #e9e9e9;
}

.settings-tab-content {
  display: none;
  padding: 20px;
  overflow-y: auto;
  max-height: 300px;
}

.settings-tab-content.active {
  display: block;
}

.display-pop-up {
  visibility: visible;
}

h1 {
  text-align: center;
  color: #333;
  font-weight: 500;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.sticky-note {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sticky-note:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sticky-note-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sticky-note-content {
  min-height: 100px;
  overflow-y: auto;
}

.add-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #5c67f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #6a74fa;
}

/* styles for authentication page */

body.auth-background {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  
}
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 30vh;
}

.form-container {
  background: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(196, 38, 38, 0.1);
  border-radius: 5px;
}

.form-container h2 {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #009f87;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #009f87;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #00eeff,
    #00f2ff,
    #00ffdd,
    #00ff7b,
    #00ffd5,
    #44d1ea,
    #0db7ba,
    #1a8674,
    #05d694
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #009f87;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.toggle-buttons {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  z-index: 1000;
}

.toggle-btn {
  background-color: #009f87;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.toggle-btn:not(:last-child) {
  border-right: none;
}

.toggle-btn:hover {
  background-color: #6afad8;
}
