:root { /* CSS variables */
  --boards-sidebar-width: 32px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  margin-left: var(--boards-sidebar-width);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.boards-sidebar {
  position: fixed;
  top: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boards-sidebar-arrow-button {
  font-size: 32px;
  height: 1em;
  border: none;
  background-color: transparent;
  transition: color 0.05s;
}

.boards-sidebar-arrow-button:hover {
  color: #808080;
}

.navbar {
  display: flex;
  justify-content: right;
  font-size: 20px;
  padding: 10px; /* for testing purposes */
}

.nav-button {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
  border: none !important;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease; /* Include border-radius in the transition */
  border-radius: 50%; /* Apply consistent border-radius */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  color: #555;
  background-color: #e9e9e9;
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition for the opacity */
}


/* Pop-ups */

.about-pop-up {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.settings-pop-up {
  max-width: 800px;
  height: 400px;
  width: 90%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.profile-pop-up {
  max-width: 450px;
  max-height: 360px;
  width: 100%;
  padding: 20px;
  padding-top: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.about-pop-up.display-pop-up, .settings-pop-up.display-pop-up, .profile-pop-up.display-pop-up {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
  z-index: 20;
}

.close-button {
  color: #000000;
  font-weight: 500;
  background-color: #ffffff;
  padding: 2px 5px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.scrollable-content {
  max-height: 50vh;
  overflow-y: auto;
}

.about-pop-up h1 .profile-pop-up h1 {
  font-size: x-large;
  font-weight: 500;
}


/* Toggle Switch Formatting */

.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.toggle-label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: gray;
  border-radius: 100px;
  transition: background-color 0.2s;
  z-index: 2;
}

.toggle-inner {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  transition: transform 0.2s;
  background-color: #fff;
  z-index: 3;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #5c67f2;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  transform: translateX(40px);
}

/* Profile Formatting */

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-settings {
  display: flex;
  justify-content: space-between;
}

.settings-controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 20px;
  margin-right: 40px;
}

.light-dark-mode, .note-colour {
  font-weight: bold;
  margin-bottom: 30px;
}

.colour-selector {
  width: 85px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box {
  width: 85px;
  height: 30px;
  border-radius: 4px;
}

.note-preview {
  max-width: 250px;
  max-height: 250px;
}

.note-sample {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f4f4f8;
}

/* Profile Picture */

.profile-picture-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
}

.profile-picture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile-picture-overlay i {
  font-size: 24px;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-picture-container:hover .profile-picture-overlay,
.profile-picture-container:hover .profile-picture-overlay i {
  opacity: 1;
}


/* Username */

.username, .username-edit {
  display: block;
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
}

.username-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.username-edit-icon {
  margin-left: 10px;
  cursor: pointer;
  opacity: 0;
  font: rob
}

.username-container:hover .username-edit-icon {
  opacity: 1;
}

/* Settings Tabs */

.settings-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.settings-tabs {
  display: flex;
}

.settings-tab-button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  transition: background-color 0.4s ease;
}

.settings-tab-button.active, .settings-tab-button:hover {
  background-color: #e9e9e9;
}

.settings-tab-content {
  display: none;
  padding: 20px;
  overflow-y: auto;
  max-height: 600px;
}

.settings-tab-content.active {
  display: block;
}

.settings-toggle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Unsaved Changes Bar */

.unsaved-changes-bar {
  border-radius: 12px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s ease;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
}

.unsaved-changes-bar.display {
  visibility: visible;
  opacity: 1;
  transform: translateY(30px);
}

.unsaved-changes-bar button {
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.unsaved-changes-bar button:hover {
  transform: scale(1.1);
}

.unsaved-changes-bar button:active {
  transform: scale(0.95);
}

.unsaved-changes-bar button#profile-save-changes, button#settings-save-changes {
  color: white;
  background-color: #5c67f2;
}

.unsaved-changes-bar button#profile-save-changes:hover, button#settings-save-changes:hover {
  color: white;
  background-color: #434ab3;
}

.unsaved-changes-bar button#profile-revert-changes, button#revert-save-changes {
  color: black;
  background-color: white;
}

.unsaved-changes-bar button#profile-revert-changes:hover, button#revert-save-changes:hover {
  color: black;
  background-color: rgb(221, 221, 221);
}



h1 {
  text-align: center;
  color: #333;
  font-weight: 500;
}

.sticky-note {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sticky-note:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sticky-note-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sticky-note-content {
  min-height: 100px;
  overflow-y: auto;
}

.add-note-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 1.8em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c67f2;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 32px;
}

.add-note-button:hover {
  background-color: #6a74fa;
}

/* styles for authentication page */

body.auth-background {
  background-image: url("https://i.postimg.cc/VN4wwyC0/44456186-d7f4-4fcf-b12d-0b6d680bb246-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 15vh;
}

.form-container {
  width: 550px;

  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid rgb(255, 255, 255);
}

.form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}

.form-container h2 {
  margin-bottom: 15px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

  text-align: center;
}
input::placeholder {
  color: black;
  opacity: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: rgba(255, 255, 255, 0.1);
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #8c49c0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #8c49c0;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #c800ff,
    #6200ff,
    #c300ff,
    #00a2ff,
    #00a2ff,
    #44d1ea,
    #7b0dba,
    #721a86,
    #4405d6
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000000;
}

.glow-on-hover:active:after {
  background: transparent;
  outline: 1px solid #fff;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #8c49c0;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.page-title {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  color: #8c49c0;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.page-title-large {
  font-size: 4rem;
  transition: font-size 0.5s ease;
}

.page-title-small {
  font-size: 3rem;
  transition: font-size 0.5s ease;
}

.form-footer {
  margin-top: 10px;
  text-align: center;
}

.form-footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.form-footer a:hover {
  text-decoration: underline;
  color: #8c49c0;
}

/* Styles for the top right buttons */
.auth-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.auth-toggle-btn {
  padding: 10px 20px;
  margin-left: 5px;
  background-color: #8c49c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.auth-toggle-btn:hover {
  background-color: #bb6bfc;
  outline: 1px solid #fff;
}
/* Styles for the about window*/

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 5;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
  opacity: 1;
  max-width: 550px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  line-height: 1;
}

.close-btn:hover {
  color: #d9534f;
}
