body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.navbar {
  display: flex;
  justify-content: right;
  font-size: 20px;
}

.nav-button {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
  border: none !important;
  background-color: transparent;
}

.nav-button:hover {
  color: #555;
  background-color: #e9e9e9;
  border-radius: 50%;
}

.about-pop-up {
  max-width: 800px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.about-pop-up button {
  color: #000000;
  font-weight: 500;
  background-color: #ffffff;
  padding: 2px 5px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.about-pop-up.display-pop-up {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
}

.about-pop-up h1 {
  font-size: x-large;
  font-weight: 500;
}

.display-pop-up {
  visibility: visible;
}

h1 {
  text-align: center;
  color: #333;
  font-weight: 500;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.sticky-note {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sticky-note:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sticky-note-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sticky-note-content {
  min-height: 100px;
  overflow-y: auto;
}

.add-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #5c67f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #6a74fa;
}
