:root {
  /* CSS variables */
  --boards-sidebar-width: 32px;
  --popup-background-color: #ffffff;
  --popup-text-color: #000000;
}

.dark-mode {
  --popup-background-color: #333333;
  --popup-text-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  position: relative;
  width: 100%;
  height: 600px;
}
.page-header {
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    width: fit-content;
    max-width: 100%;
    /* z-index: 1000; */
    padding: 0px 10px; 
    line-height: 1; 
}


.sticky-note:active {
    cursor: grabbing;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 10px 20px;
}

/* Side navigation bar */
  
.boards-sidebar {
  position: fixed;
  top: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boards-sidebar-arrow-button {
  font-size: 32px;
  /* z-index: 1000; */
  height: 1em;
  border: none;
  background-color: transparent;
  transition: color 0.05s;
}

.boards-sidebar-arrow-button:hover {
  color: #808080;
}

.nav-button {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
  border: none !important;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease; /* Include border-radius in the transition */
  border-radius: 50%; /* Apply consistent border-radius */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.nav-button:hover {
  color: #555;
  background-color: #e9e9e9;
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition for the opacity */
}
  
/* The side navigation menu */
.boards-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boards-sidebar-arrow-button {
  font-size: 32px;
  height: 1em;
  border: none;
  background-color: transparent;
  transition: color 0.05s;
  margin-right: auto; /* Keep sidenav button on the left */
}

.boards-sidebar-arrow-button:hover {
  color: #808080;
}

.side-navbar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #d3d3d3;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-navbar a:hover {
  color: #2b2b2b;
}

.side-navbar .close-sidebar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.sidebar-title {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  font-weight: 500;
  display: block;
  transition: 0.3s;
}

.draggable-bar {
  position: absolute;
  top: 0;
  right: -5px;
  width: 8px;
  height: 100%;
  cursor: ew-resize;
  background-color: #808080;
}

.navbar-board {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 0;
}

/* Pop-ups */
.about-pop-up {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.settings-pop-up {
  max-width: 800px;
  height: 400px;
  width: 90%;
  padding: 20px;
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.profile-pop-up {
  max-width: 450px;
  max-height: 430px;
  width: 100%;
  padding: 20px;
  padding-top: 0px;
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.about-pop-up.display-pop-up, .settings-pop-up.display-pop-up, .profile-pop-up.display-pop-up {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s, background-color 0.5s, color 0.5s;
  z-index: 20;
}

.close-button {
  font-weight: 500;
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
  padding: 2px 5px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  transition: background-color 0.5s, color 0.5s;
}

.about-pop-up.display-pop-up, .settings-pop-up.display-pop-up {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
  z-index: 20;
}

.scrollable-content {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.about-pop-up h1 {
  font-size: x-large;
  text-align: center;
  color: var(--popup-text-color);
  font-weight: 500;
}

/* Toggle Switch Formatting */

.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.toggle-label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: gray;
  border-radius: 100px;
  transition: background-color 0.2s;
  z-index: 2;
}

.toggle-inner {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  transition: transform 0.2s;
  background-color: #fff;
  z-index: 3;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #5c67f2;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  transform: translateX(40px);
}

/* Profile Formatting */

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-settings {
  display: flex;
  justify-content: space-between;
}

.settings-controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 20px;
  margin-right: 40px;
}

.light-dark-mode, .note-colour {
  font-weight: bold;
  margin-bottom: 30px;
}

.note-colour-picker {
  border: none;
  background-color: var(--popup-background-color);
  width: 85px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.note-colour-picker::-webkit-color-swatch-wrapper {
  background-color: var(--popup-background-color);
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}

.note-colour-picker::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
}

.note-preview {
  width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
}



/* Profile Picture */

.profile-picture-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
}

.profile-picture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile-picture-overlay i {
  font-size: 24px;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-picture-container:hover .profile-picture-overlay,
.profile-picture-container:hover .profile-picture-overlay i {
  opacity: 1;
}

/* Username */

.username, .username-edit {
  display: block;
  padding-left: 15px;
  font-family: 'Roberto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.username-edit {
  transform: translateY(5px) translateX(4px)
}

.username-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.username-edit-icon {
  margin-left: 10px;
  cursor: pointer;
  opacity: 0;
  font: rob
}

.username-container:hover .username-edit-icon {
  opacity: 1;
}

/* Settings Tabs */

.settings-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.settings-tabs {
  display: flex;
}

.settings-tab-button {
  color: var(--popup-text-color);
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  transition: transform 0.2s;
}

.settings-tab-button.active,
.settings-tab-button:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.settings-tab-content {
  display: none;
  padding: 20px;
  overflow-y: auto;
  max-height: 600px;
}

.settings-tab-content.active {
  display: block;
}

.settings-item {
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.settings-button {
  font-weight: bold;
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
  border-width: 1px;
  border-color: var(--popup-text-color);
  border-radius: 5px;
  width: 140px;
  height: 30px;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.settings-button.red-outline {
  border-color:rgb(255, 130, 130);
  color:rgb(131, 20, 20);
  border-width: 2px;
}

.settings-button:hover {
  transform: scale(1.05);
}

.settings-button:active {
  transform: scale(0.95);
}

.settings-dropdown {
  font-weight: bold;
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
  border-width: 1px;
  border-color: var(--popup-text-color);
  border-radius: 5px;
  width: 140px;
  height: 30px;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}


/* Unsaved Changes Bar */

.unsaved-changes-bar {
  border-radius: 12px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2px;
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s ease, background-color 0.5s, color 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
}

.unsaved-changes-bar.display {
  visibility: visible;
  opacity: 1;
  transform: translateY(30px);
}

.unsaved-changes-bar button {
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.5s, color 0.5s;
}

.unsaved-changes-bar button:hover {
  transform: scale(1.1);
}

.unsaved-changes-bar button:active {
  transform: scale(0.95);
}

.unsaved-changes-bar button#profile-save-changes, button#settings-save-changes {
  color: white;
  background-color: #5c67f2;
}

.unsaved-changes-bar button#profile-save-changes:hover, button#settings-save-changes:hover {
  color: white;
  background-color: #434ab3;
}

.unsaved-changes-bar button#profile-revert-changes, button#revert-save-changes {
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
  text-decoration: none;
}

.unsaved-changes-bar button#profile-revert-changes:hover, button#revert-save-changes:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: #333;
  font-weight: 500;
}

.sticky-note {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  position: absolute; 
  resize: both; 
  overflow: auto;
  min-width: 100px;
  min-height: 100px;
  padding: 10px;
  padding-top: 70px;
  box-sizing: border-box;
  cursor: grab;
}

.sticky-note:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sticky-note-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.sticky-note-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.15); /* Black with low opacity */
  display: flex;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

.sticky-note-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sticky-note-user-name {
  color: black;
  font-weight: bold;
  padding-left: 10px;
  margin-left: 10px;
}

.sticky-note-content {
  color: black;
  padding-top: 0px;
  margin: 4px;
  min-height: 100px;
  overflow-y: auto;
  position: relative; 

}
.note-footer {
    font-size: 0.75rem;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgba(0, 0, 0, 0.5); 
    text-align: right;
    padding-right: 5px; 
    margin-top: 5px; 
}
.add-note-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 1.8em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c67f2;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 32px;
}

.add-note-button:hover {
  background-color: #6a74fa;
}

.sticky-note .delete-note-form {
    margin: 0;
    position: absolute;
    top: 5px;
    color: red;
    right: 5px;
}

.delete-note-button {
    border: none;
    background: transparent;
    color: red;
    font-size: 16px;
    cursor: pointer;
    display: block;
    padding: 0;
}

.delete-note-button:hover {
    color: darkred;
}

.color-picker-form {
  margin-left: auto;
}

.color-picker {
  background: none;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  appearance: none; /* Remove default styling */
}

.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker::-webkit-color-swatch {
  border: none;
}

/* styles for authentication page */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,900;1,900&display=swap");

html, body {
    height: 100%;  /* Ensures they take full viewport height */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.auth-background {
    background: url("../images/3dnotes.webp") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow-y: auto; /* Allows scrolling */
    min-height: 100vh; /* Minimum height */
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.form-container {
  width: 550px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 5;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
  opacity: 1;
  max-width: 550px;
  border: 1px solid rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInScale 0.5s ease forwards;
}

.form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: inherit;
  z-index: -1;
}

.form-container h2 {
  margin-bottom: 15px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
  
input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: rgba(255, 255, 255, 0.1);
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
.glow-on-hover {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #000000;
    background: #000000;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
    border-radius: 10px;
    outline: none;
}

.glow-on-hover:hover {
    color: white;
    box-shadow: 0 0 5px #bb6bfc,
                0 0 10px #bb6bfc,
                0 0 15px #bb6bfc,
                0 0 25px #bb6bfc;
}
  
.glow-on-hover:active {
    background-color: transparent;
    color: black;
    transform: scale(0.95);
}

.page-title {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 4rem;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
  letter-spacing: -4px;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), -1px -1px 2px #8f10b9,
    1px 1px 2px rgba(0, 0, 0, 0.5);*/
}

.page-title-large {
  font-size: 5rem;
  transition: font-size 0.5s ease;
}

.page-title-small {
  font-size: 4rem;
  transition: font-size 0.5s ease;
}

.form-footer {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.form-footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.form-footer a:hover {
  text-decoration: underline;
  color: #da6ff2;
}

/* Styles for the top right buttons */
.auth-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.auth-toggle-btn {
  padding: 10px 20px;
  margin-left: 5px;
  background-color: #8c49c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 255, 255);
}

.auth-toggle-btn:hover {
  background-color: #bb6bfc;
  outline: 1px solid #fff;
}
/* Styles for the about window*/

.about-section {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;  /* Use fixed to keep it centered regardless of scrolling */
  overflow-y: auto;  /* Keep for scrollability inside the section */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 5;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  max-width: 550px;
  border: 1px solid rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInScale 0.5s ease forwards;
  margin-top: 50px;
  margin-left:0px;
  margin-bottom:50px;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  line-height: 1;
}

.close-btn:hover {
  color: #d9534f;
}

.alert {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 5s;
}

.alert-success {
  color: #26b347;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}
.alert-error {
  color: #9b0716;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.alert-loginfail {
  color: #9b0716;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
.alert-registerfail {
  color: #9b0716;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}
/* CSS for email and password icons */
.form-group {
  position: relative;
}

.form-group ion-icon {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  color: #ffffff;
}

/* toggle buttons */
.auth-nav .auth-toggle-btn.selected {
  color: black;
  background: rgba(255, 255, 255, 0.742);
  border: 1.8px solid white;
}

/* 3D effect for toggle buttons when clicked */
.auth-nav .auth-toggle-btn.clicked {
  transform: scale(1.05) translateZ(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 600px) {
  .page-title {
    top: 10px;
    z-index: 10;
    font-size: calc(1.2rem + 1.5vw);
  }

  .about-section {
    top: 55%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .auth-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 10px;
    z-index: 10;
  }

  .auth-nav button {
    margin: 0 10px;
  }

  .form-group ion-icon {
    right: 5px;
    font-size: larger;
  }

  .auth-nav {
    top: 60px;
  }

  .form-container {
     position: relative;
     overflow-y: auto;
    width: 90%;
    max-width: none;
    padding: 10px;
  }
  body.auth-background {
    background-position: center center;
    background-size: cover;
    position: relative;
     overflow-y: auto;
  }
}


.sidebar-title {

    margin-bottom: 20px; 
    color: #333; 
    text-align: center; 
}
.grant-access-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

#grant-access-form .form-group {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 5px;
}

#grant-access-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.grant-access-button {
    width: 100%;
    padding: 10px;
    background-color: #c300ffb4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grant-access-button:hover {
    background-color: #9800b3;
}

.grant-access-form-container h3 {
    text-align: center;
    color: #333;
}

.create-board-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 10px; 
}

#create-board-form .form-group {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 5px;
}

#create-board-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-board-button {
    width: 100%;
    padding: 10px;
    background-color: #c300ffb4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-board-button:hover {
    background-color: #9800b3;
}

.create-board-form-container h3 {
    text-align: center;
    color: #333;
}
.note-color-picker {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;  
  background: transparent;
  transition: background-color 0.5s, color 0.5s;

}

.note-color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}

.note-color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.replies-container {
    overflow-y: auto;
    padding-bottom: 10px; /* Adds spacing below the last reply */
}

.reply {
    position: relative;
    padding: 5px;
    margin-bottom: 10px; /* Space between replies */
    background-color: rgba(240, 240, 240, 0.9); /* Slightly opaque background for each reply */
    border-radius: 8px;
}

.reply-timestamp {
    font-size: 0.75rem;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgba(0, 0, 0, 0.5); 
}
.reply-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    gap: 10px; 
}

.reply-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 16px;
    outline: none; 
}

.reply-input:focus {
    box-shadow: 0 0 0 2px rgba(130, 180, 255, 0.5); 
}

.reply-button {
    padding: 10px 20px;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0px;
}

.reply-button:hover {
    background-color: rgba(0, 123, 255, 1);
}
