<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Notes</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/notes.css') }}"
    /> 
  </head>
  <body>
    <div class="overlay"></div>

    <!-- OPTIONS NAVBAR -->
    <nav class="navbar">
      <button class="nav-button" id="profile-button" aria-label="Profile">
        <i class="fa fa-user" aria-hidden="true"></i>
      </button>
      <button class="nav-button" id="about-button" aria-label="About">
        <i class="fa fa-info-circle"></i>
      </button>
      <button class="nav-button" id="settings-button" aria-label="Settings">
        <i class="fa fa-cog"></i>
      </button>
      <a href="{{ url_for('logout') }}" class="nav-button" aria-label="Logout">
        <i class="fa fa-sign-out-alt"></i>
      </a>
    </nav>

    <!-- BOARDS SIDEBAR -->
    <nav class="boards-sidebar">
      <button class="boards-sidebar-arrow-button" id="boards-sidebar-arrow-button" aria-label="Boards Sidebar">
        <button
        class="boards-sidebar-arrow-button"
        id="boards-sidebar-arrow-button"
        aria-label="Boards Sidebar"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </nav>

    <!-- BOARD -->
    <main>
      <h1>Board Name Placeholder</h1>
      <section id="board" class="board"></section>
      <button id="add-note-button" class="add-note-button">
        <i class="fa-solid fa-note-sticky"></i>
      </button>
    </main>

    <!-- PROFILE PAGE POP-UP -->
    <div id="profile-pop-up", class="profile-pop-up">
      <header class="profile-header">
        <h2>Edit Profile</h2>
        <button class="close-button">
          <i class="fa fa-times" aria-label="Close"></i>
        </button>
      </header>
      <div class="edit-profile-content">
        <div class="profile-info">
          <div class="profile-picture-container">
            <img src="default-avatar.jpg" alt="Profile Picture" class="profile-picture">
            <div class="profile-picture-overlay">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <input type="file" id="profile-picture-input" accept="image/*" style="display: none;">
          </div>
          <div class="username-container">
            <span class="username" tabindex="0">User</span>
            <input type="text" class="username-edit" value="User" style="display: none;">
            <i class="fa fa-pencil username-edit-icon" aria-hidden="true"></i>
          </div>
        </div>
        <div class="profile-settings">
          <div class="settings-controls">
            <label for="toggle-theme"><b>Light/Dark Mode</b></label>
            <div class="light-dark-mode">
              <input type="checkbox" id="toggle-theme" class="toggle-checkbox">
              <label class="toggle-label" for="toggle-theme">
                  <span class="toggle-inner"></span>
              </label>
            </div>
            <label for="note-colour-picker"><b>Note colour</b></label>
            <input type="color" id="note-colour-picker" class="note-colour-picker" value="#ff5c5c">
          </div>
          <div class="note-preview">
            <label>Note preview:</label>
            <div class="note-sample"> 
              <p class="note-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> 
          </div>
        </div>
      </div>
      
      <!-- UNSAVED CHANGES BAR -->
      <div class="unsaved-changes-bar" id="profile-unsaved-changes-bar">
        <p>You have unsaved changes! Would you like to keep them?</p>
        <button id="profile-revert-changes">Revert</button>
        <button id="profile-save-changes">Save Changes</button>
      </div>

    </div>

    <!-- ABOUT PAGE POP-UP (when about button clicked) -->
    <div id="about-pop-up", class="about-pop-up">
      <h1>How to use</h1>
      <button class="close-button">
        <i class="fa fa-times" aria-label="Close"></i>
      </button>
      <div class="scrollable-content">
        <b>Creating a note</b>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Libero id
          faucibus nisl tincidunt eget nullam non nisi est. Accumsan tortor
          posuere ac ut consequat semper.
        </p>
        <b>Assigning, sorting and moving notes</b>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Libero id
          faucibus nisl tincidunt eget nullam non nisi est. Accumsan tortor
          posuere ac ut consequat semper.
        </p>
        <b>FAQ</b>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Libero id
          faucibus nisl tincidunt eget nullam non nisi est. Accumsan tortor
          posuere ac ut consequat semper.
        </p>
        <b>Credits</b>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus
          interdum posuere lorem ipsum dolor sit amet. Sem fringilla ut morbi
          tincidunt augue interdum velit. Et odio pellentesque diam volutpat
          commodo. Neque laoreet suspendisse interdum consectetur libero id
          faucibus nisl. In arcu cursus euismod quis viverra nibh. Ut eu sem
          integer vitae justo eget. Nunc lobortis mattis aliquam faucibus purus
          in massa tempor. Facilisi etiam dignissim diam quis enim lobortis
          scelerisque fermentum. In nulla posuere sollicitudin aliquam ultrices
          sagittis. Sagittis id consectetur purus ut faucibus pulvinar
          elementum. Lorem sed risus ultricies tristique nulla aliquet enim
          tortor
        </p>
        <p>
          Euismod in pellentesque massa placerat. Sed vulputate mi sit amet
          mauris commodo. Neque volutpat ac tincidunt vitae. Integer malesuada
          nunc vel risus commodo. Sit amet luctus venenatis lectus magna.
          Pharetra massa massa ultricies mi quis hendrerit dolor. Quisque
          egestas diam in arcu cursus. Volutpat est velit egestas dui id ornare.
          Quis risus sed vulputate odio ut enim blandit volutpat. Odio ut enim
          blandit volutpat maecenas volutpat. At volutpat diam ut venenatis
          tellus in metus. Enim ut sem viverra aliquet eget. Viverra mauris in
          aliquam sem fringilla ut morbi. Pretium vulputate sapien nec sagittis
          aliquam malesuada. Consectetur adipiscing elit pellentesque habitant
          morbi tristique senectus et netus.
        </p>
        <p>
          Orci porta non pulvinar neque laoreet suspendisse interdum
          consectetur. Arcu non sodales neque sodales ut etiam sit amet.
          Molestie ac feugiat sed lectus. Quis vel eros donec ac odio tempor.
          Est placerat in egestas erat imperdiet sed. Odio pellentesque diam
          volutpat commodo. Quis viverra nibh cras pulvinar mattis. Nulla
          aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Commodo
          odio aenean sed adipiscing. Interdum consectetur libero id faucibus
          nisl tincidunt eget. Sit amet mauris commodo quis.
        </p>
        <p>
          Ut morbi tincidunt augue interdum. Non diam phasellus vestibulum lorem
          sed risus. Gravida arcu ac tortor dignissim convallis aenean et. At
          imperdiet dui accumsan sit. Etiam tempor orci eu lobortis elementum
          nibh tellus. Erat imperdiet sed euismod nisi porta. Leo duis ut diam
          quam nulla porttitor massa id. Tempor commodo ullamcorper a lacus
          vestibulum sed arcu. Vitae semper quis lectus nulla at. Volutpat sed
          cras ornare arcu dui vivamus arcu.
        </p>
        <p>
          Bibendum enim facilisis gravida neque convallis a. Mattis molestie a
          iaculis at erat pellentesque adipiscing commodo elit. Lectus proin
          nibh nisl condimentum id venenatis a condimentum vitae. Sit amet
          cursus sit amet dictum sit amet justo. Velit egestas dui id ornare
          arcu odio ut sem nulla. Nisi quis eleifend quam adipiscing vitae
          proin. Ultrices gravida dictum fusce ut placerat orci nulla. Vivamus
          at augue eget arcu dictum varius duis. Lectus nulla at volutpat diam
          ut. Cras ornare arcu dui vivamus arcu. In egestas erat imperdiet sed.
          Ridiculus mus mauris vitae ultricies leo. Dolor morbi non arcu risus.
          Elementum tempus egestas sed sed. Quam lacus suspendisse faucibus
          interdum posuere lorem ipsum dolor. Vitae proin sagittis nisl rhoncus
          mattis rhoncus urna neque viverra. Vulputate ut pharetra sit amet
          aliquam.
        </p>
      </div>
    </div>

    <!-- SETTINGS PAGE POP-UP -->
    <div id="settings-pop-up" class="settings-pop-up">
      <!-- SETTINGS TABS -->
      <header class="settings-header">
        <nav class="settings-tabs">
          <button class="settings-tab-button active" data-tab="general-tab">General</button>
          <button class="settings-tab-button" data-tab="notifications-tab">Notifications</button>
          <button class="settings-tab-button" data-tab="account-tab">Account</button>
        </nav>
        
        <button class="close-button">
          <i class="fa fa-times" aria-label="Close"></i>
        </button>
      </header>
      
      <!-- SETTINGS CONTENT -->
      <div class="settings-tab-content active" id="general-tab">
        <h2>General Settings</h2>
        <div class="scrollable-content" style="min-height: 250px;">
          <div class="settings-item">
            <label for="theme-selection">Theme/Appearance</label>
            <button id="theme-selection" class="settings-button">Select Theme</button>
          </div>

          <div class="settings-item">
            <label for="timezone-selection">Timezone</label>
            <select id="timezone-selection" class="settings-dropdown" style="width: 200px;">
              <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
              <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
              <option value="-10:00">(GMT -10:00) Hawaii</option>
              <option value="-09:50">(GMT -9:30) Taiohae</option>
              <option value="-09:00">(GMT -9:00) Alaska</option>
              <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
              <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
              <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
              <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
              <option value="-04:50">(GMT -4:30) Caracas</option>
              <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
              <option value="-03:50">(GMT -3:30) Newfoundland</option>
              <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
              <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
              <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
              <option value="+00:00" selected="selected">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
              <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
              <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
              <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
              <option value="+03:50">(GMT +3:30) Tehran</option>
              <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
              <option value="+04:50">(GMT +4:30) Kabul</option>
              <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
              <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
              <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
              <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
              <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
              <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
              <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
              <option value="+08:75">(GMT +8:45) Eucla</option>
              <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
              <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
              <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
              <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
              <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
              <option value="+11:50">(GMT +11:30) Norfolk Island</option>
              <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
              <option value="+12:75">(GMT +12:45) Chatham Islands</option>
              <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
              <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
            </select>
          </div>
        </div>
      </div>

      <div class="settings-tab-content" id="notifications-tab">
        <h2>Notification Settings</h2>
        <div class="scrollable-content" style="min-height: 250px;">
          <div class="settings-item">
            <label for="toggle-notif">Enable Email Notifications</label>
            <input type="checkbox" id="toggle-notif" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif">
                <span class="toggle-inner"></span>
            </label>
          </div>

          <div class="settings-item">
            <label for="toggle-notif-reply">Notification on Replies</label>
            <input type="checkbox" id="toggle-notif-reply" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif-reply">
                <span class="toggle-inner"></span>
            </label>
          </div>

          <div class="settings-item">
            <label for="toggle-notif-all-board">Notification on All Board Changes</label>
            <input type="checkbox" id="toggle-notif-all-board" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif-all-board">
                <span class="toggle-inner"></span>
            </label>
          </div>

          <div class="settings-item">
            <label for="toggle-notif-all-own">Notification on Owned Board Changes</label>
            <input type="checkbox" id="toggle-notif-all-own" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif-all-own">
                <span class="toggle-inner"></span>
            </label>
          </div>

          <div class="settings-item">
            <label for="toggle-notif-all-star">Notification on Starred Board Changes</label>
            <input type="checkbox" id="toggle-notif-all-star" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif-all-star">
                <span class="toggle-inner"></span>
            </label>
          </div>
        </div>
      </div>
      
      <div class="settings-tab-content" id="account-tab">
        <h2>Account Settings</h2>
        <div class="scrollable-content" style="min-height: 250px;">
          <div class="settings-item">
            <label for="change-password">Change Password</label>
            <button id="change-password" class="settings-button">Change Password</button>
          </div>

          <div class="settings-item">
            <label for="privacy-visibility">Privacy/Profile Visibility</label>
            <select id="privacy-visibility" class="settings-dropdown">
              <option value="private">Private</option>
              <option value="followed">Followed Only</option>
              <option value="public">Public</option>
            </select>
          </div>

          <div class="settings-item">
            <label for="delete-account">Delete Account</label>
            <button id="delete-account" class="settings-button red-outline">Delete Account</button>
          </div>
        </div>
      </div>

      <!-- UNSAVED CHANGES BAR -->
      <div class="unsaved-changes-bar" id="settings-unsaved-changes-bar">
        <p>You have unsaved changes! Would you like to keep them?</p>
        <button id="settings-revert-changes">Revert</button>
        <button id="settings-save-changes">Save Changes</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  </body>
</html>
