<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>TaskHub</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/note-favicon.ico') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}"> 
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/notes.css') }}"
    />
  </head>
  <body board-id="{{ session.get('active_board_id', 'none') }}">
    <div class="overlay"></div>
    <!-- OPTIONS NAVBAR -->
    <nav class="navbar">
      <button class="boards-sidebar-arrow-button" id="boards-sidebar-arrow-button" onclick="openSidenav()" aria-label="Boards Sidebar">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button class="nav-button" id="profile-button" aria-label="Profile">
        <i class="fa fa-user" aria-hidden="true"></i>
      </button>
      <button class="nav-button" id="about-button" aria-label="About">
        <i class="fa fa-info-circle"></i>
      </button>
      <button class="nav-button" id="settings-button" aria-label="Settings">
        <i class="fa fa-cog"></i>
      </button>
      <a href="{{ url_for('app.logout') }}" class="nav-button" aria-label="Logout">
        <i class="fa fa-sign-out-alt"></i>
      </a>
    </nav>
    
<!-- BOARDS SIDEBAR -->
<div id="side-navbar" class="side-navbar">
    <button class="close-sidebar" id="close-sidebar">&times;</button>
    <div class="draggable-bar" id="draggable-bar"></div>
    <div class="sidebar-title">Boards</div>
<div class="grant-access-form-container">
    <form id="grant-access-form">
        <h3>Grant Access</h3>
        <div class="form-group">
            <input type="text" id="user-to-grant" placeholder="Enter user email" required>
        </div>
        <div class="form-group">
            <button type="submit" class="grant-access-button">Grant Access</button>
        </div>
    </form>
</div>

<div class="create-board-form-container">
    <form id="create-board-form">
        <h3>Create Board</h3>
        <div class="form-group">
            <input type="text" id="new-board-title" placeholder="Enter board title" required>
        </div>
        <div class="form-group">
            <button type="submit" class="create-board-button">Create Board</button>
        </div>
    </form>
</div>



    <div class="boards-container" id="boards-container">
        {% for board in boards %}
        <a class="navbar-board" href="#" onclick="switchBoard({{ board.id }})">{{ board.title }}</a>
        {% endfor %}
    </div>
</div>

    <!-- BOARD -->
<main>
<header class="page-header">
    <h1>{{ current_board_title }}</h1>
</header>
  <section id="board" class="board">
    {% for item in notes %}
    <div class="sticky-note" id="note{{ item.note.id }}" style="background-color: {{ item.note.color }}; left: {{ item.note.position_x }}px; top: {{ item.note.position_y }}px; width: {{ item.note.width }}px; height: {{ item.note.height }}px;" data-id="{{ item.note.id }}">
      <div class="sticky-note-header">
        <div class="sticky-note-header-background">
          <img src="{{ item.user_photo }}" alt="Profile Photo" class="sticky-note-profile-picture">
          <span class="sticky-note-user-name"><b>{{ item.user_name }}</b></span>
              <input type="color" class="note-color-picker" value="{{ item.note.color }}" style="width: 20px; height: 20px; border: none; padding: 0; margin-left: 10px; cursor: pointer;">
          {% if item.note.user_id == user_id %}
          <form action="{{ url_for('app.delete_note', note_id=item.note.id) }}" method="POST" class="delete-note-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="delete-note-button">X</button>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="sticky-note-content" contenteditable="true">
    {{ item.note.content }}
    <div class="note-footer">
        {{ item.note.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
    </div>
</div>
<div class="replies-container"></div>
    <div class="reply-input-container">
        <input type="text" class="reply-input" placeholder="Write a reply...">
        <button class="reply-button" onclick="addReply(this, '{{ item.note.id }}')">Reply</button>
    </div>
    </div>
    {% else %}
    <p>No notes yet.</p>
    {% endfor %}
  </section>
  <button id="add-note-button" class="add-note-button">
      <i class="fa-solid fa-note-sticky"></i>
  </button>
</main>

    
    <!-- PROFILE PAGE POP-UP -->
    <div id="profile-pop-up", class="profile-pop-up">
      <header class="profile-header">
        <h2>Edit Profile</h2>
        <button class="close-button">
          <i class="fa fa-times" aria-label="Close"></i>
        </button>
      </header>
      <div class="edit-profile-content">
        <div class="profile-info">
          <div class="profile-picture-container">
            <img src="{{url_for('static',filename='images/default-avatar.jpg')}}" alt="Profile Picture" class="profile-picture" id="profile-picture">
            <div class="profile-picture-overlay">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <input type="file" id="profile-picture-input" accept="image/*" style="display: none;">
          </div>
          <div class="username-container">
            <span class="username" id="username" tabindex="0">User</span>
            <input type="text" class="username-edit" id="edit-usename" value="User" style="display: none;">
            <i class="fa fa-pencil username-edit-icon" aria-hidden="true"></i>
          </div>
        </div>
        <div class="profile-settings">
          <div class="settings-controls">
            <label for="toggle-theme"><b>Light/Dark Mode</b></label>
            <div class="light-dark-mode">
              <input type="checkbox" id="toggle-theme" class="toggle-checkbox">
              <label class="toggle-label" for="toggle-theme">
                  <span class="toggle-inner"></span>
              </label>
            </div>
            <label for="note-colour-picker"><b>Note colour</b></label>
            <input type="color" id="note-colour-picker" class="note-colour-picker" value="#ff5c5c">
          </div>
          <div class="note-preview">
            <div class="sticky-note" id="note-sample" style="width: 250px; padding-top: 4px;">
              <div class="sticky-note-header">
                <div class="sticky-note-header-background">
                  <img src="{{url_for('static',filename='images/default-avatar.jpg')}}" alt="Profile Picture" class="sticky-note-profile-picture" id="note-sample-profile-picture">
                  <span class="sticky-note-user-name" id="note-sample-user-name"><b>User</b></span>
                </div>
              </div> 
              <div class="sticky-note-content"><br><br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br><br></div>
              <div class="note-footer" style="color: black;">0000-01-01 12:34:56</div>
            </div> 
          </div>
        </div>
      </div>
      
      <!-- UNSAVED CHANGES BAR -->
      <div class="unsaved-changes-bar" id="profile-unsaved-changes-bar">
        <p>You have unsaved changes! Would you like to keep them?</p>
        <button id="profile-revert-changes">Revert</button>
        <button id="profile-save-changes">Save Changes</button>
      </div>

    </div>

    <!-- ABOUT PAGE POP-UP (when about button clicked) -->
    <div id="about-pop-up", class="about-pop-up">
      <h1>How to use</h1>
      <button class="close-button">
        <i class="fa fa-times" aria-label="Close"></i>
      </button>
      <div class="scrollable-content">
        <b>Creating a note</b>
        <p>
          To create your notes:
          <ol>
            <li> Click on the <img src="{{ url_for('static', filename='images/create-notes-icon.png') }}" alt="Create note button" width="25px"> icon on the bottom right of your board </li>
            <li> Click into the note and type your content </li>
            <li> Select the colour for the note using the top right box of the new note <img src="{{ url_for('static', filename='images/colour-picker-example.png') }}" alt="Colour picker box" height="20px"></li>
            <li> Press enter to confirm note creation </li>
          </ol>
        </p>
        <br>
        <b>Moving and resizing notes:</b>
        <p>
          <u>To move:</u> drag the note to the new position
          <br>
          <u>To resize:</u> click and hold on the bottom right corner of the note and change to desired size
        </p>
        <br>
        <b>Creating a new board </b>
        <p>
          <li>Click on the <img src="{{ url_for('static', filename='images/sidebar-button-icon.png') }}" alt="Sidebar button icon" height="20px"> icon to open the boards navigation menu</li>
          <li>Enter a board title into the box under 'Create Board'</li>
          <li>Click the pink 'Create Board' button under the box</li>
        </p>
        <br>
        <b>Navigating between boards</b>
        <p>
          <ol>
            <li>Click on the <img src="{{ url_for('static', filename='images/sidebar-button-icon.png') }}" alt="Sidebar button icon" height="20px"> icon to open the boards navigation menu</li>
            <li>Click on the board you want to navigate to </li>
          </ol>
        </p>
        <br>
        <b>Adding access to a board</b>
        <p>
          <ol>
            <li>Click on the <img src="{{ url_for('static', filename='images/sidebar-button-icon.png') }}" alt="Sidebar button icon" height="20px"> icon to open the boards navigation menu</li>
            <li>Navigate to the board you want to add someone to</li>
            <li>Open the sidebar again and enter the person's email address into the box under 'Grant Access'</li>
            <li>Click the pink 'Grant Access' button under the box</li>
          </ol>
        </p>
        <br>
        <b>FAQ</b>
        <p>
          <u>How do I edit my profile picture and username?</u>
          <p>Click on the <img src="{{ url_for('static', filename='images/profile-button-icon.png') }}" alt="Profile button icon" height="25px"> icon and change your settings there </p>
          <br>
          <u>How do I log out?</u>
          <p>Click on the <img src="{{ url_for('static', filename='images/logout-button-icon.png') }}" alt="Logout button icon" height="25px"> icon and you will be logged out and redirected to the login page</p>
          <br>
          <u>How do I set my notification settings?</u>
          <p>Click on the <img src="{{ url_for('static', filename='images/settings-button-icon.png') }}" alt="Settings button icon" height="25px"> icon and navigate to the notifications tab</p>
          <br>
          <u>How do I change my password?</u>
          <p>Click on the <img src="{{ url_for('static', filename='images/settings-button-icon.png') }}" alt="Settings button icon" height="25px"> icon and navigate to the account tab, then click 'change password'</p>
          <br>
          <u>How do I make my account private?</u>
          <p>Click on the <img src="{{ url_for('static', filename='images/settings-button-icon.png') }}" alt="Settings button icon" height="25px"> icon and navigate to the account tab, then click 'privacy/profile visibility'</p>
          <br>
          <u>How do I delete my account?</u>
          <p>Click on the <img src="{{ url_for('static', filename='images/settings-button-icon.png') }}" alt="Settings button icon" height="25px"> icon and navigate to the account tab, the option to delete is at the bottom</p>
        </p>
        <br>
        <b>Credits</b>
        <p>TaskHub created by: Ciaran, Kyla, Ryan and Henry</p>
      </div>
    </div>

    <!-- SETTINGS PAGE POP-UP -->
    <div id="settings-pop-up" class="settings-pop-up">
      <!-- SETTINGS TABS -->
      <header class="settings-header">
        <nav class="settings-tabs">
          <button class="settings-tab-button active" data-tab="general-tab">General</button>
          <button class="settings-tab-button" data-tab="notifications-tab">Notifications</button>
          <button class="settings-tab-button" data-tab="account-tab">Account</button>
        </nav>
        
        <button class="close-button">
          <i class="fa fa-times" aria-label="Close"></i>
        </button>
      </header>
      
      <!-- SETTINGS CONTENT -->
      <div class="settings-tab-content active" id="general-tab">
        <h2>General Settings</h2>
        <div class="scrollable-content" style="min-height: 250px;">
          
          <div class="settings-item">
            <label for="theme-selection">Theme/Pattern</label>
            <select id="theme-selection" class="settings-dropdown">
              <option value="default">Default</option>
              <option value="stripes">Stripes</option>
              <option value="squiggly">Squiggly</option>
              <option value="dotted">Dotted</option>
              <option value="serene">Serene</option>
              <option value="festive">Festive</option>
              <option value="spooky">Spooky</option>
            </select>
          </div>

          <div class="settings-item">
            <label for="back-color-selection">Background Colour</label>
            <input type="color" id="back-color-selection" class="note-colour-picker" value="#ff5c5c">
            </select>
          </div>

          <div class="settings-item">
            <label for="panel-color-selection">Side Panel Colour</label>
            <input type="color" id="panel-color-selection" class="note-colour-picker" value="#ff5c5c">
            </select>
          </div>

          <div class="settings-item">
            <label for="timezone-selection">Timezone</label>
            <select id="timezone-selection" class="settings-dropdown" style="width: 200px;">
              <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
              <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
              <option value="-10:00">(GMT -10:00) Hawaii</option>
              <option value="-09:50">(GMT -9:30) Taiohae</option>
              <option value="-09:00">(GMT -9:00) Alaska</option>
              <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
              <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
              <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
              <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
              <option value="-04:50">(GMT -4:30) Caracas</option>
              <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
              <option value="-03:50">(GMT -3:30) Newfoundland</option>
              <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
              <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
              <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
              <option value="+00:00" selected="selected">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
              <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
              <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
              <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
              <option value="+03:50">(GMT +3:30) Tehran</option>
              <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
              <option value="+04:50">(GMT +4:30) Kabul</option>
              <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
              <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
              <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
              <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
              <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
              <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
              <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
              <option value="+08:75">(GMT +8:45) Eucla</option>
              <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
              <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
              <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
              <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
              <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
              <option value="+11:50">(GMT +11:30) Norfolk Island</option>
              <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
              <option value="+12:75">(GMT +12:45) Chatham Islands</option>
              <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
              <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
            </select>
          </div>
        </div>
      </div>

      <div class="settings-tab-content" id="notifications-tab">
        <h2>Notification Settings</h2>
        <div class="scrollable-content" style="min-height: 250px;">
          <div class="settings-item">
            <label for="toggle-notif">Enable Email Notifications</label>
            <input type="checkbox" id="toggle-notif" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif">
                <span class="toggle-inner"></span>
            </label>
          </div>

          <div class="settings-item">
            <label for="toggle-notif-reply">Notification on Replies</label>
            <input type="checkbox" id="toggle-notif-reply" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif-reply">
                <span class="toggle-inner"></span>
            </label>
          </div>

          <div class="settings-item">
            <label for="toggle-notif-all-board">Notification on All Board Changes</label>
            <input type="checkbox" id="toggle-notif-all-board" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif-all-board">
                <span class="toggle-inner"></span>
            </label>
          </div>

          <div class="settings-item">
            <label for="toggle-notif-all-own">Notification on Owned Board Changes</label>
            <input type="checkbox" id="toggle-notif-all-own" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif-all-own">
                <span class="toggle-inner"></span>
            </label>
          </div>

          <div class="settings-item">
            <label for="toggle-notif-all-star">Notification on Starred Board Changes</label>
            <input type="checkbox" id="toggle-notif-all-star" class="toggle-checkbox">
            <label class="toggle-label" for="toggle-notif-all-star">
                <span class="toggle-inner"></span>
            </label>
          </div>
        </div>
      </div>
      
      <div class="settings-tab-content" id="account-tab">
        <h2>Account Settings</h2>
        <div class="scrollable-content" style="min-height: 250px;">
          <div class="settings-item">
            <label for="change-password">Change Password</label>
            <button id="change-password" class="settings-button">Change Password</button>
          </div>

          <div class="settings-item">
            <label for="privacy-visibility">Privacy/Profile Visibility</label>
            <select id="privacy-visibility" class="settings-dropdown">
              <option value="private">Private</option>
              <option value="followed">Followed Only</option>
              <option value="public">Public</option>
            </select>
          </div>

          <div class="settings-item">
            <label for="delete-account">Delete Account</label>
            <button id="delete-account" class="settings-button red-outline">Delete Account</button>
          </div>
        </div>
      </div>

      <!-- UNSAVED CHANGES BAR -->
      <div class="unsaved-changes-bar" id="settings-unsaved-changes-bar">
        <p>You have unsaved changes! Would you like to keep them?</p>
        <button id="settings-revert-changes">Revert</button>
        <button id="settings-save-changes">Save Changes</button>
      </div>
    </div>
<script>
    window.urls = {
        addNote: '{{ url_for("app.add_note", _external=true) }}'
    };
    window.csrfToken = document.querySelector('meta[name="csrf-token"]').content;
</script>
    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  </body>
</html>
